// $theme-color: #6ea651;
$theme-color: #5ca949;
$theme-color-2: #ed8639;
$secondary-color: #515462;
$text-color: #282c3f;
$black-color: #3d4151;
$border-light-grey: #eaeaea;
$border-dark-grey: #dddddd;
$light-grey: #cdcfd8;
$light-grey-bg: #f2f2f2;
$white-color: #ffffff;

$error-message-bg: #fffbe7;
$error-message-border: #fef5c8;
$error-message-color: #664d22;

$reject-color: #df6436;
$prepare-color: #df6436;
$serve-color: #615f93;
$bill-color: #5ca949;
$complete-color: #515462;
